#search-li {
  position: relative;
}

.search-container {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  transition: width 0.3s;
  overflow: hidden;
  display: flex;
}

.search-container {
  
  align-items: center;
}

.search-container input[type="text"] {
  padding: 5px;
}

.search-container input[type="submit"] {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
}
#search-input {
  flex: 1;
  border: none;
  background-color: transparent;
  color: #333;
  outline: none;
  transition: width 0.3s;
}

#search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
  padding: 5px;
}

#search-button:hover {
  color: #555;
}

#search-li:hover .search-container {
  width: 200px;
}


/* resultados */

.search-results {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.result-list {
  list-style: none;
  padding: 0;
}

.result-item {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
}

.result-item.show {
  margin: 0 10px; /* Agrega margen a los elementos para separarlos */
  padding: 5px 10px; /* Agrega relleno interno para dar espacio */
  text-align: center; /* Centra el texto dentro de cada elemento */
}

.search-container input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.news-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.news-card img {
  width: 50%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.news-card p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  color: #555;
}
