/* Estilos del login-section */
.login-section {
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 40px;
    text-align: center;
  }
  
  .login-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .login-section label {
    display: block;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .login-section input[type="text"],
  .login-section input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .login-section button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-section button:hover {
    background-color: var(--text-color);
  }
  
  .login-section .form-footer {
    margin-top: 20px;
    text-align: left;
  }
  
  .login-section .form-footer a {
    color: #666;
    text-decoration: none;
  }
  
  .login-section .form-footer a:hover {
    text-decoration: underline;
  }

  .login-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .login-form label small {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }