*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el formulario */
.profile-form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  select {
    width: 100%;
    height: 120px;
    overflow-y: auto;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: var(--text-color);
  }
  
  /* Estilos para el slider de noticias */
  
  .news-slider {
    width: 100%;
    overflow: hidden;
  }
  
  .news-slide {
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .news-slide.active {
    opacity: 1;
  }
  
  .news-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  
  .news-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .news-container p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .container-slider{
    max-width:600px;
    height: 300px;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

  }

  input[type="radio"]{
    display: none;
  }

  .contenedor{
    width: 100vw;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    transform-style: preserve-3d;
    display:flex;
    justify-content: center;
    align-items: center;

  }
  .cards{
    position: inherit;
    width: 100%;
    height: 100%;
  }

  .card{
    position:absolute;
    width: 60%;
    height: 100%;
    left:0;
    right: 0;
    margin:auto;
    cursor: pointer;
  }
  img{
    width:100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  #item2:checked ~ .cards #selector1,
  #item1:checked ~ .cards #selector3,
  #item3:checked ~ .cards #selector2{
    transform: translateX(-40%) scale(0.8);  
    z-index:0;
    }
  #item3:checked ~ .cards #selector1,
  #item1:checked ~ .cards #selector2,
  #item2:checked ~ .cards #selector3{
    transform: translateX(40%) scale(0.8); 
    z-index: 0; 
  }
  #item1:checked ~ .cards #selector1,
  #item2:checked ~ .cards #selector2,
  #item3:checked ~ .cards #selector3{
    transform: translateX(0%) scale(1); 
    z-index: 1; 
  }

  .slider2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
  }
  .slider-section{
    display:flex ;
    width:600px;
    height: 430px;
  }

  .slider-section img{
    width:0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;


  }

  .slider-section img:hover{
    
    cursor:crosshair;
    width: 300px;
    opacity:1;
    filter:contrast(120%);
  }
  form{
    background-color: rgb(232, 253, 246);
  }
  .profile-section{
    width:60vw;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)!important;
    padding:3%;
  }
 small{
    font-size: 16px !important;
    color: #666 !important;
    background-color: #fff;

  }

  .profile-form > input[type="text"]{
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #2e2626 !important;
    margin-bottom: 20px;
  }
  .profile-section > h2{
    text-align: center;
    width:100%;
    justify-content: center;
    padding-bottom:2%;
  }
select{
  width: 50%;
  height: auto;
}
.profile-form > label{
  background-color: #fff;
  padding-bottom: 2%;
}
.radio-intereses{
  width: 50%;
  height: auto;
  padding-bottom: 2%;

}

.profile-form{
  display:flex;
  flex-direction: column;
}
.section-radio-intereses{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2%;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fff;

}

.section-radio-intereses > div{

  width: 100%;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center;
}